<!DOCTYPE html>
<html>
<body>
    {{>header}}
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/node-js_course/web-server/public/js/app.js" ></script>
</head>
    
    <p>Error msg  is 404 in {{title}}</p>
{{>footer}}
</body>
</html>